{% extends 'base.html.twig' %}

{% block title %}Recherche | {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Recherche : {{ genre ? genre : 'Tous les genres' }}</h1>

    <h2 class="mt-5 mb-4">Filtrer par Genre</h2>
    <ul class="genre-list ps-0 mt-2 mb-3">
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                slug: 'Drum&Bass'
            }) }}">Drum&Bass</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                slug: 'LoFi'
            }) }}">LoFi</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                slug: 'House'
            }) }}">House</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                slug: 'Metal'
            }) }}">Metal</a>
        </li>
    </ul>

    <div>
        <h2 class="mt-5">Playlists</h2>
        <div class="row">
            {% for mix in mixes %}
            <div class="col col-md-4">
                <div class="mixed-vinyl-container p-3 text-center">
                    <img src="{{ mix.imagesUrl(300) }}" data-src="https://via.placeholder.com/300" alt="Mix album cover">
                    <p class="mt-2"><strong>{{ mix.title }}</strong></p>
                    <span>{{ mix.trackCount }} musiques</span>
                    |
                    <span>{{ mix.genre }}</span>
                    |
                    <span>{{ mix.createdAt | ago }}</span>
                    <br>
                    {{ mix.votesString }} votes
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
